@font-face {
    font-family: 'Bernard-Typo2';
    src: url('../font/Bernard-Typo2 (1).otf');
}

header {
    background-color: #0e96d2;
}

h1 {
    font-family: 'Bernard-Typo2', sans-serif;
    color: white;
}

#img-25 {
    height: 25%;
}

main + footer {
    background-color: white;
}